# Secrets and environment files
.env
.env.*
*.pem
*.key
*.pfx
*.p12

# Azure
.azure/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# VS Code local settings
.vscode/

# Operating system files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.log


# Terraform variable files
*.tfvars
*.tfvars.json
